---
import '../css/styles.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Fancy GSAP Transitions</title>
	</head>
	<body class="about">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" id="demo">
  <path id="end" d="M 0.13 -15.927 C 0.13 -15.927 24.51 -28.547 49.26 -28.887 C 74 -29.227 99.88 -12.517 99.88 -12.517 L 99.88 99.505 L 0.13 99.505 L 0.13 -15.927 Z" fill="#EB5408" style="stroke-width: 0;"></path>
  <path id="middle" d="M 0.13 33.179 C 0.13 33.179 24.78 36.665 49.56 36.421 C 74.34 36.178 100 56.15 100 56.15 L 100 99.505 L 0.13 99.505 L 0.13 33.179 Z" fill="#EB0817" style="stroke-width: 0;"></path>
  <path id="start1" d="M 0 104.891 C 0 104.891 24.69 99.572 49.5 99.506 C 74.31 99.439 100 104.891 100 104.891 L 100 116.726 L 0 116.726 L 0 104.891 Z" fill="#707A56" style="stroke-width: 0"></path>
  <path id="start2" d="M 0 104.891 C 0 104.891 24.69 99.572 49.5 99.506 C 74.31 99.439 100 104.891 100 104.891 L 100 116.726 L 0 116.726 L 0 104.891 Z" fill="#FCFFFF" style="stroke-width: 0"></path>
</svg>
<div class="container">
<h1>About Page</h1>
<a href="/">Go to Home Page</a>
</div>

	</body>
</html>

<script>
import '../js/morphing-animation.js';
</script>
